@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.cdnfonts.com/css/aoboshi-one');
@import url('https://fonts.cdnfonts.com/css/quiet-sans');
*{
    font-family: 'Quiet Sans', sans-serif;                                                                                              
}
h1,h2 {
    text-align: center;
    padding: 5px;
    font-family: 'Aoboshi One', sans-serif;
                                                
}
.header {
    background: url('/public/SportifyBanner1.png') center/cover;
    color: white; 
    padding: 200px 0;
    position: relative;
    text-align: center;
}


.container{
    position: relative;
    
}

.banner {
    position: relative; /* Ensure proper positioning */
    width: 100%; /* Adjust width as needed */
    height:100vh; /* Adjust height as needed */
    z-index: 1; /* Ensure the banner appears above other elements */
}

@media (max-width: 768px) {
    .banner {
      height: 20vh; 
    }
  }

  
  